@use "variable" as *;

h1 {
     font-family: $font__heading;
     font-size: $font__large;
     color: $color__black;
}
p {
     color: $color__black;
     font-size: $font__reg;
}

ul {
     color: $color__black;
     font-size: $font__small;
}

a {
     color: $color__green;
     &:active {
          color: $color__lightgreen;
     }
     &:visited {
          color: $color__cyan;
     }
}